footer {
    padding: 1.5rem 3rem;
}
footer .row {
    max-width: 100%;
}
footer .columns {
    padding-left: 0;
}
footer .social {
    text-align: right;
}
footer .social img {
    height: 35px;
    width: 35px;
}
footer p {
    color: rgb(125, 136, 146);
    font-family: "Ubuntu";
    font-size: 0.95rem;
    font-weight: 300;
    padding-top: 0.5rem;
}