.reveal-modal .info {
    padding: 2rem 1rem 0;
}
.reveal-modal .info .attribution {
    color: rgb(73, 85, 96);
    font-family: "Ubuntu";
    line-height: 75px;
}
.reveal-modal .info .attribution b {
    font-weight: 700;
}
.reveal-modal .info .avatar {
    border-radius: 50%;
    float: left;
    height: 75px;
    margin-right: 1rem;
    width: 75px;
}
