/* Arvo */
@font-face {
    font-family: "Arvo";
    src: url("Arvo/Arvo-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Arvo";
    font-weight: bold;
    src: url("Arvo/Arvo-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Arvo";
    font-weight: bold;
    font-style: italic;
    src: url("Arvo/Arvo-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Arvo";
    font-style: italic;
    src: url("Arvo/Arvo-Italic.ttf") format('truetype');
}